{% extends 'base.html' %} 
{% block content %}
{% load tailwind_filters %}
<div class="max-w-lg mx-auto">
<a class="hover:text-blue-500" href="{% url 'agents:agent-list' %}"> <-- Go back to the agents</a>
<div class="py-4 border-t border-gray-200">
  <h1 class="text-4xl text-gray-700">Create a new lead</h1>
</div>
<form method="post" class="mt-3">
  {% csrf_token %} 
  {{form|crispy}}
  <button
      class="text-white w-full bg-blue-400 hover:bg-blue-300 mt-3 px-3 py-2 rounded-md"
      type="submit"
    >
      Submit
    </button>
</form>
</div>
{% endblock content %}
